<?xml version='1.0' encoding='utf-8'?>  

<configuration>  
  <tutorialDBConnectionString>  
    <clear />  

    <add name="Server"   
      providerName="System.Data.SqlClient"   
      connectionString="Server" />  

      <add name="Initial Catalog"   
      providerName="System.Data.SqlClient"   
      connectionString="Initial Catalog" />  

      <add name="Persist Security Info"   
      providerName="System.Data.SqlClient"   
      connectionString="False" />  

      <add name="User ID"   
      providerName="System.Data.SqlClient"   
      connectionString="User ID" />  

      <add name="Password"   
      providerName="System.Data.SqlClient"   
      connectionString="Password" />  

      <add name="MultipleActiveResultSets"   
      providerName="System.Data.SqlClient"   
      connectionString="False" />  

      <add name="Encrypt"   
      providerName="System.Data.SqlClient"   
      connectionString="True" />  

      <add name="TrustServerCertificate"   
      providerName="System.Data.SqlClient"   
      connectionString="False" />  

      <add name="Connection Timeout"   
      providerName="System.Data.SqlClient"   
      connectionString="30" />  
  </connectionStrings>  
</configuration>  